<!DOCTYPE html>
<html lang=”en”>
<head>
    <%- include('../../common/head/head.ejs') -%>
</head>
<body>
<div class="wrapper">


    <%- include('../../common/header/header.ejs') -%>
</header>
    <div class="content">
        <%- locals.body %>

        <%- include('../../common/newsletter/newsletter.ejs') -%>
    </div>

    <%- include('../../common/footer/footer.ejs') -%>

</div>
</body>
</html>