@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

.hero__first {
    position: relative;
    height: 850px;
    width: 100%;
    background: $background_color_white url(../images/site-hero.png) no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center;
    
    // @include hero_img_first; 
    &__title__wrapper { 
        position: absolute; 
    
        width: 100%; 
        margin: -40px 0 20px 0;
        display: flex;  
        justify-content: center; 
        align-items: center;
        flex-direction: column;
    }
    &__title__small__inner {
        position: relative;
        text-align: center;
        margin-bottom: 7px;
    }
    &__title__small {
        padding: 7px 12px;
        background: $background_color_green;
        color: $color_text_gray_dark;
        @include text_montserrat;
    } 
    &__title__big__inner {
        margin-bottom: 30px;
    }
    &__title__big {
        font-size: 48px;
        text-align: center;
        color: $color_text_gray_dark;
        padding: 10px 40px;
        border: solid 10px $color_text_gray_dark;
        @include text_montserrat;
    }
    &__subtitle__inner {
        width: 50%;
        margin: 0 50px;
    }
    &__subtitle {
        line-height: 24px;
        font-size: 14px;
        text-align: center;
        color:$color_text_gray_dark;
        @include text_open-sans;
    }
}
@media (max-width: 991px) {
    .hero {
        &__subtitle{
            margin : 20px  0;
            line-height: 40px;
            font-size: 15px;

        }
    }
}
