<div class="hero__first">
  <div class="hero__first__title__wrapper">
    <div class="hero__first__title__small__inner">
      <span class="hero__first__title__small uppercase">we're</span>  
    </div>
    <div class="hero__first__title__big__inner">
      <div class="hero__first__title__big uppercase">digital agency</div>
    </div>
    <div class="hero__first__subtitle__inner">
      <p class="hero__first__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>    
  </div>
</div>
 