@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
.footer {
    position: relative;
    padding: 25px 0;
    font-size: 14px;
    @include text_open-sans;
    &__wrapper {
        margin: 25px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
    }
    &__list {
        margin: 0 20px;
        padding: 0;
        color: $color_text_gray_footer;
        font-weight: $font_width_second;
        list-style: none;
        float: left;
        text-transform: uppercase;

        &__link {
            color: $color_text_gray_light;
            margin: 10px 0 0;
            font-size: 14px;
        }
    }

    &__text__wrapper {
        margin: 10px 0;
    }
    &__text {
        color: $color_text_gray_light;
        font-weight: $font_width_second;
        text-align: center;
        text-transform: uppercase;
    }
    &__icons__wrapper {
    }
    &__icons {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        float: right;
        &__item {
            margin: 0 10px;
            color: $color_text_gray_light;
        }
    }
}

@media (max-width: 1199px) {
    .footer {
        padding: 20px 0;
    }
    .footer__menu {
        padding: 0 50px;
        margin-left: 0;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer__list {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .footer__icons {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
    }
    .footer__icons__wrapper {
        display: flex;
        justify-content: center;
    }
}
@media (max-width:767px) {
    .footer {
        padding: 20px 0;
    }
    .footer__menu {
        padding: 0 50px;
        margin-left: 0;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer__list {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .footer__icons {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
    }
    .footer__icons__wrapper {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 449px) {
    .footer {
        padding: 20px 0;
    }
    .footer__menu {
        padding: 0 50px;
        margin-left: 0;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer__list {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .footer__icons {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
    }
    .footer__icons__wrapper {
        display: flex;
        justify-content: center;
    }
}
