<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
           
                <nav class="footer__menu__inner">
                    <ul class="footer__menu  ">
                        <li class="footer__list"><a href="index.html" class="footer__list__link">Home</a></li>
                        <li class="footer__list"><a href="about.html" class="footer__list__link">about us</a></li>
                        <li class="footer__list"><a href="#" class="footer__list__link">services</a></li>
                        <li class="footer__list"><a href="#" class="footer__list__link">portfolio</a></li>
                        <li class="footer__list"><a href="#" class="footer__list__link">blog</a></li>
                        <li class="footer__list"><a href="contact.html" class="footer__list__link">contact us</a></li>
                    </ul>
                </nav>
             
            <div class="footer__text-icons__inner">
                <div class="footer__text__wrapper">
                    <div class="footer__text ">
                        created by akhouad 2016. all rights reserved.
                    </div>
                </div>
                <div class="footer__icons__wrapper">
                    <ul class="footer__icons" >
                        <li class="footer__icons__item"><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                        <li class="footer__icons__item"><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                        <li class="footer__icons__item"><a href="#"><i class="icon ion-social-youtube"></i></a></li>
                        <li class="footer__icons__item"><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
                        <li class="footer__icons__item"><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                        <li class="footer__icons__item"><a href="#"><i class="icon ion-social-instagram"></i></a></li>
                    </ul>
                </div> 

            </div>
        </div> 
    </div> 
</footer>  
