<section class="team">
    <div class="container">
        <div class="team__section-title">
            <div class="team__title__wrapper">
                <span class="benefits__title">the dream team</span>
            </div>
            <div class="team__subtitle__wrapper">
                <p class="team__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>


        <div class="team__section-photo">
            <div class="team__member__wrapper">
                <div class="team__member ">
                    <img class="team__photo__person" src="./images/CEO.png" alt="CEO">

                    <div class="team__member__info">
                        <div class="team__member__name">john doe</div>
                        <div class="team__member__job">CEO / co-founder</div>
                    </div>

                </div>
            </div>
            <div class="team__member__wrapper">
                <div class="team__member ">
                    <img class="team__photo__person" src="./images/project_chied.png" alt="project chied">

                    <div class="team__member__info">
                        <div class="team__member__name">jennifer toms</div>
                        <div class="team__member__job">project chied</div>
                    </div>

                </div>
            </div>
            <div class="team__member__wrapper">
                <div class="team__member  ">
                    <img class="team__photo__person" src="./images/graphic designer.png" alt="graphic designer">

                    <div class="team__member__info">
                        <div class="team__member__name">jack doe</div>
                        <div class="team__member__job">graphic designer</div>
                    </div>

                </div>
            </div>
            <div class="team__member__wrapper">
                <div class="team__member ">
                    <img class="team__photo__person" src="./images/art_director.png" alt="art director">

                    <div class="team__member__info">
                        <div class="team__member__name">anne turin</div>
                        <div class="team__member__job">art director</div>
                    </div>

                </div>
            </div>
            <div class="team__member__wrapper">
                <div class="team__member ">
                    <img class="team__photo__person" src="./images/CTO.png" alt="CTO">

                    <div class="team__member__info">
                        <div class="team__member__name">nias akhouad</div>
                        <div class="team__member__job">CTO</div>
                    </div>

                </div>
            </div>
            <div class="team__member__wrapper">
                <div class="team__member ">
                    <img class="team__photo__person" src="./images/front-end_developer.png" alt="front-end developer">

                    <div class="team__member__info">
                        <div class="team__member__name">tim cook</div>
                        <div class="team__member__job">front-end developer</div>
                    </div>

                </div>
            </div>
            <div class="team__member__wrapper">
                <div class="team__member ">
                    <img class="team__photo__person" src="./images/back-end_developer.png" alt="back-end developer">

                    <div class="team__member__info">
                        <div class="team__member__name">alan turin</div>
                        <div class="team__member__job">back-end developer</div>
                    </div>

                </div>
            </div>
            <div class="team__member__wrapper">
                <div class="team__member ">
                    <img class="team__photo__person" src="./images/web_designer.png" alt="web designer">

                    <div class="team__member__info">
                        <div class="team__member__name">john whick</div>
                        <div class="team__member__job">web designer</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="team__read_more ">

        <p class="team__read_more__text" >
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
        </p>
        <a href="#" class="team__read_more__btn btn green"><span>read more</span></a>

    </div>
</div>