@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.team {
    &__section-title {
        width: 50%;
        text-align: center;
        margin: 0 auto 100px;
    }
    &__title {
        @include mont_title_content;
        &__wrapper {
            margin-bottom: 20px;
        }
    }
    &__subtitle {
        line-height: 24px;
        @include text_open-sans;
        color: $color_text_gray_dark;
        &__wrapper {
            margin-bottom: 20px;
        }
    }
    &__section-photo {
        display: flex;
        flex-wrap: wrap;
    }

    &__member {
        text-align: center;
        margin-bottom: 20px;
        &__wrapper {
            margin: 0 11px 0 11px;
        }
        &__info {
        }
        &__name {
            color: $color_text_gray_dark;
            background-color: $background_color_green;

            font-size: 12px;
            @include text_montserrat;
        }
        &__job {
            color: $color_text_white;
            background-color: $background_color_green;
            font-size: 14px;
            @include text_montserrat;
        }
    }
    &__photo__person {
    }
    &__read_more {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $background_color_white_gray;
        padding: 15px 30px;
        &__text {

            color: $color_text_gray_light;
            font-style: italic;
            @include text_open-sans;
        }
        &__btn {
        }
    }
}
@media (max-width: 991px) {
    .team{
        &__section-photo {
            
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__member{
            margin-bottom: 20px;
        }
        &__read_more{
            display: flex;
            flex-direction: column;
        }
    }
}