<div class="hero__second">
    <div class="hero__second__title__wrapper">
        <div class="hero__second__title__inner">
            <div class="hero__second__title">about us</div>
        </div>
        <div class="hero__second__title__inner">
            <div class="hero__second__subtitle">home / about</div>
        </div>
    </div>
</div>