@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
.header {
       position: absolute;
       padding: 50px 0;
       // height: 100px;
       width: 100%;
       z-index: 9;

       &__wrapper {
              // margin-top: 40px;
              display: flex;
              justify-content: space-between;
       }
       &__logo {
              width: 50%;
       }
       &__menu__wrapper {
              width: 50%;
       }
       &__menu__desktop {
              &__list {
                     display: flex;
                     justify-content: flex-end;
              }
              &__item {
                     &__link {
                            position: relative;
                            margin-right: 20px;
                            display: flex;
                            justify-content: end;
                            color:$color_text_gray_dark ;
                            font-size: 12px;
                            @include text_montserrat;
                     }
              }
       }

}
@media (max-width: 991px) {

}