<header class="header">
    <div class="container">
        <div class="header__wrapper"> 
            <div class="header__logo"> 
                <a href="index.html"><img src="./images/logo.png" alt="logo" /></a>
            </div> 

            <div class="header__menu__wrapper">
                <!-- desktop navbar -->
                <nav class="header__menu__desktop uppercase hidden-md-down ">
                    <ul class="header__menu__desktop__list">
                        <li class="header__menu__desktop__item">
                            <a href="index.html" class="header__menu__desktop__item__link">Home</a>
                        </li>
                        <li class="header__menu__desktop__item">
                            <a href="about.html" class="header__menu__desktop__item__link">about us</a>
                        </li>
                        <li class="header__menu__desktop__item">
                            <a href="#" class="header__menu__desktop__item__link">services</a>
                        </li>
                        <li class="header__menu__desktop__item"><a class="header__menu__desktop__item__link" href="#">portfolio</a></li>
                        <li class="header__menu__desktop__item"><a class="header__menu__desktop__item__link" href="#">blog</a></li>
                        <li class="header__menu__desktop">
                            <a href="contact.html" class="header__menu__desktop__item__link">contact us</a>
                        </li>
                    </ul>  
                </nav>
                <!-- todo 
                <div class="menu-outline"></div> 
                 mobile navbar
                <nav class="header__menu__mobile uppercase hidden hidden-md-up">
                  
                     <ul class="header__menu">
                        <li class="header">
                            <a href="index.html" class="header__link">Home</a>
                        </li>
                        <li class="header">
                            <a href="about.html" class="header__link">about us</a>
                        </li>
                        <li class="header">
                            <a href="servises.html" class="header__link">services</a>
                        </li>
                        <li class="header"><a href="#">portfolio</a></li>
                        <li class="header"><a href="#">blog</a></li>
                        <li class="header">
                            <a href="contact.html" class="header__link">contact us</a>
                        </li>
                    </ul> 
                </nav>
                <div class="menu-icon"></div>-->
            </div>
        </div>
    </div>
</header>