<% locals.setLayout('src/views/common/layout/layout.ejs') %> 
    <%- include('sections/hero_first/hero_first.ejs') %>    
    <%- include('sections/agency/agency.ejs') %>        
    <%- include('sections/services_main/services_main.ejs') %>                 