@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins.scss";

.services__main {
    display: flex;
    justify-content: center;

    &__first__wrapper {
        width: 50%;
        text-align: center;
        margin: 0 auto 100px;
    }

    &__first__title {
 
        @include mont_title_content;
        &__wrapper{
            margin-bottom: 20px;
        }
    }
    &__first__subtitle {
        font-size: 14px;
        line-height: 24px;
        color: $color_text_gray_dark;
        @include text_open-sans;
        &__wrapper{
            margin-bottom: 20px;
        }
    }

    &__second__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__list__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        flex-direction: column;
    }

    &__list__first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    &__list__second {
        display: flex;
        flex-direction: row;

        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    &__list__icon {
        font-size: 36px;
        color: $color_text_gray_dark;
    }
    &__list__title {
        margin-bottom: 20px;
        color: $color_text_gray_dark;
        font-size: 18px;
        @include text_montserrat;
    }
    &__img__wrapper {
        width: 50%;
    }
    &__img {
    }
}
@media (max-width: 991px) {
    .services__main {
        &__list{
            margin-bottom: 10px;
        }
        &__list__first {
            display: flex;
            flex-direction: column;
            text-align: center;

        }
        &__list__second {
            display: flex;
            flex-direction: column;
            text-align: center;

        }
        &__second__wrapper {
            display: flex;

            flex-direction: column;
            align-items: center;
        }
        &__list__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__list__first {
        }
        &__list__second {
        }

        &__img {
            width: 100%;
            position: relative;
            overflow: hidden;

            &__wrapper {
                width: 100%;
            }
        }
    } 
}
