<section class="services__main">
   <div class="container">
      <div class="services__main__first__wrapper">
         <div class="services__main__first__title__wrapper">
            <span class="services__main__first__title">why choose us</span>
         </div>
         <div class="services__main__first__subtitle__wrapper">
            <p class="services__main__first__subtitle">
               Lorem ipsum dolor sit amet, consectetur adipisicing
               elit, sed do eiusmod
               tempor incididunt ut labore et dolore magna aliqua.</p>
         </div>
      </div>

      <div class="services__main__second__wrapper">
         <div class="services__main__list__wrapper">
            <div class="services__main__list__first">
               <div class="services__main__list">
                  <i class="services__main__list__icon ion-ios-infinite-outline"></i>
                  <span class="services__main__list__title">unlimited options</span>
                  <%- include('./services_main_list/services_main_list.ejs') -%>
               </div>


               <div class="services__main__list">
                  <i class="services__main__list__icon ion-ios-shuffle"></i>
                  <span class="services__main__list__title">design &amp; development </span>
                  <%- include('./services_main_list/services_main_list.ejs') -%>
               </div>

            </div>
 
            <div class="services__main__list__second">

               <div class="services__main__list">
                  <i class="services__main__list__icon ion-ios-cart-outline"></i>
                  <span class="services__main__list__title">e-commerce</span>
                  <%- include('./services_main_list/services_main_list.ejs') -%>
               </div>


               <div class="services__main__list">
                  <i class="services__main__list__icon ion-ios-settings"></i>
                  <span class="services__main__list__title">customizable design</span>
                  <%- include('./services_main_list/services_main_list.ejs') -%>
               </div>

            </div> 
         </div>
         <div class="services__main__img__wrapper">
            
               <img class="services__main__img" src="./images/services.png" alt="services">
            
         </div> 
      </div> 
   </div>
</section>