<% locals.setLayout('src/views/common/layout/layout.ejs') %>
<%- include('sections/hero_second/hero_second.ejs') %>
<%- include('sections/about_company/about_company.ejs') %>
<%- include('sections/benefits/benefits.ejs') %> 
<%- include('sections/team/team.ejs') %>
<%- include('sections/our_work/our_work.ejs') %>


