@import "./variables.scss";
@import "./mixins.scss";

.btn {
  height: 50px;
  line-height: 50px;
  width: 150px;
  text-align: center;
  @include text_montserrat;
  text-transform: uppercase;
  border-radius: 0;
  border: 0;
  padding: 0;
}
.btn:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn.green {
  background-color: $background_color_green;
  color: $color_text_white;
}
.btn.white {
  background-color: $background_color_white;
  color: $color_text_white_green;
}
@media (max-width: 991px) {
  .btn {
    margin: 20px 0;
  }
}
.icon {
  margin: 30px 0 10px;
  font-size: 14px;
  color: #999999;
}

section {
  margin-top: 150px;
}
@media (max-width: 991px) {
  section {
    margin-top: 50px;
  }
}

.input__wrapper {
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
.input {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0 20px;
  float: left;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #9a9a9a;
}
.textarea__wrapper {
  height: 200px;
  width: 100%;
  margin-bottom: 30px;

  border: solid 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
.textarea {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 20px;
  float: left;
  resize: none;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #9a9a9a;
}
.col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 991px) {
  .col {
    position: relative;
    height: 1px;
  }
}
