@import './variables.scss';
@mixin mont_title_content {

    color:$color_text_gray_dark;
    text-transform: uppercase;
    font-family:$main_font;
    font-weight: $font_width_first;
    font-size: 30px;
}
@mixin text_montserrat {
    text-transform: uppercase;
    font-family:$main_font;
    font-weight: $font_width_first;
} 
@mixin text_open-sans {
    font-size: 14px;
    font-family: $subtitle_font;
    font-weight: $font_width_second;

} 
@mixin hero-second {
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background_color_white url(../images/site-hero2.png) no-repeat;
    background-size: cover;
    overflow: hidden;
    &__title__wrapper {
       position: absolute;
       display: flex;
       flex-direction: column;
       text-align: center;
    }
    &__title__inner{
 margin: 5px;
    }
    &__title{
       color: $color_text_gray_dark;
       font-size: 36px;
       @include text_montserrat;
       
    }

    &__subtitle{
       color: $color_text_gray_dark;
       font-size: 14px;
       @include text_montserrat;
    }
 }





// @mixin hero_img_first {
//     position: relative;
//     height: 850px;
//     width: 100%;
//     background: $background_color_white url(../images/site-hero.png) no-repeat;
//     background-size: cover;
//     overflow: hidden;
// } 
// @mixin hero_img_second {
//     position: relative;
//     height: 850px;
//     width: 100%;
//     background: $background_color_white url(../images/site-hero-2.png) no-repeat;
//     background-size: cover;
//     overflow: hidden;
// }