$color_text_gray_footer: #9A9A9A;
$color_text_white:#ffffff;
$color_text_white_green:#7beec7;
$color_text_gray_dark: #60606e;
$color_text_gray_light : #999999;

$background_color_green:#7beec7;
$background_color_white_gray: #efeff0;
$background_color_white:#ffffff;

$main_font: "Montserrat", sans-serif;
$subtitle_font :"Open sans", sans-serif;
$font_width_first:700; 
$font_width_second:400;
