<section class="benefits">
    <div class="container">
        <div class="benefits__section-title">
            <div class="benefits__title__wrapper">
                <span class="benefits__title">some benefits</span>
            </div>
            <div class="benefits__subtitle__wrapper">
                <p class="benefits__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

        </div>

        <div class="benefits__section-skills">
            <div class="benefits__section__first">
                <div class=" benefits__section col">
                    <div class="benefits__section__title__wrapper">
                        <i class="benefits__icon ion-iphone"></i>
                        <span class="benefits__section__title">fully responsive</span>
                    </div>

                    <%- include('./benefits_content/benefits_content.ejs') -%>
                </div>
                <div class="benefits__section col">
                    <div class="benefits__section__title__wrapper">
                        <div class="benefits__icon__wrapper"></div>
                        <i class="benefits__icon ion-ios-infinite-outline"></i>
                        <span class="benefits__section__title">unlimited options</span>
                    </div>
                    <%- include('./benefits_content/benefits_content.ejs') -%>
                </div>

                <div class="benefits__section col">
                    <div class="benefits__section__title__wrapper">
                        <i class="benefits__icon ion-social-wordpress-outline"></i>
                        <span class="benefits__section__title">wordpress</span>
                    </div>
                    <%- include('./benefits_content/benefits_content.ejs') -%>
                </div>
            </div>

            <div class="benefits__section__second">
                <div class="benefits__section col">
                    <div class="benefits__section__title__wrapper">
                        <i class="benefits__icon ion-ios-cart-outline"></i>
                        <span class="benefits__section__title">e-commerce</span>
                    </div>
                    <%- include('./benefits_content/benefits_content.ejs') -%>
                </div>

                <div class="benefits__section col" >
                    <div class="benefits__section__title__wrapper">
                        <i class="benefits__icon ion-ios-settings"></i>
                        <span class="benefits__section__title">customizable design</span>
                    </div>
                    <%- include('./benefits_content/benefits_content.ejs') -%>
                </div>

                <div class=" benefits__section col">
                    <div class="benefits__section__title__wrapper">
                        <i class="benefits__icon ion-settings"></i>
                        <span class="benefits__section__title">support</span>
                    </div>
                    <%- include('./benefits_content/benefits_content.ejs') -%>
                </div>
            </div>
        </div>
    </div>
</section>