@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";
.benefits {
    &__section-title {
        width: 50%;
        text-align: center;
        margin: 0 auto 100px;
    }
    &__title {
        @include mont_title_content;
        &__wrapper {
            margin-bottom: 20px;
        }
    }
    &__subtitle {
        line-height: 24px;
        @include text_open-sans;
        color: $color_text_gray_dark;
        &__wrapper {
            margin-bottom: 20px;
        }
    }

    &__section-skills {
        display: flex;
        flex-direction: column;
    }
    &__section {
        margin-bottom: 30px;
        &__first {
            display: flex;
            flex-direction: row;
        }
        &__second {
            display: flex;
            flex-direction: row;
        }
        &__title {
            color: $color_text_gray_dark;
            font-size: 14px;
            @include text_montserrat;
            &__title__wrapper {
                display: flex;
            }
        }
    }

    &__icon {
        background-color: $color_text_white_green;
        height: 40px;
        width: 40px;
        margin-right: 20px;
        line-height: 40px;
        text-align: center;
        color: $color_text_white;
        font-size: 30px;
        // &__wrapper {
        //     width:40px;

        // }
    }
}
@media (max-width: 991px) {
    .benefits{
        &__section-skills {
            display: flex;
            flex-direction: column;
        }
        &__section {
            margin-bottom: 30px;
            &__first {
                display: flex;
                flex-direction: column;
            }
            &__second {
                display: flex;
                flex-direction: column;
            }
        }
    }
}