@import "../../../../../../styles/mixins.scss";
@import "../../../../../../styles/variables.scss";

.benefits__content {
    &__text {
        line-height: 30px;
        color: $color_text_gray_light;
        @include text_open-sans;
    }
}
