<section class="newsletter">
	<div class="container">
		<div class="newsletter__wrapper">
			<div class="newsletter__get__wrapper col">
				<div class="newsletter__get__inner">
					<span class="newsletter__get">
						you think we're cool? let's work together
					</span>
					<div class="newsletter__get__btn">
						<a href="#" class=" btn white"><span>get in touch</span></a>
					</div>
				</div>
			</div>
			<div class="newsletter__informed__wrapper col">
				<div class="newsletter__informed__inner">
					<div class="newsletter__white-section ">
						<div class="newsletter__title__wrapper">
							<span class="newsletter__title ">stay informed with our
								newsletter</span></div>
						<div class="newsletter__subtitle__wrapper">
							<p class="newsletter__subtitle ">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
						<div class="newsletter__form__email__wrapper">
							<form action="#" method="post">
								<div class="input__wrapper">
									<input class="input" type="text" name="email">
									<!-- <span class="newsletter__form__input__email__text">your email</span> -->
								</div>
								<div class="newsletter__form__btn"> 
									<button type="submit" class="btn green"
										style="margin-top:20px"><span>send</span></button>
								</div>
							</form>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>