@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
.newsletter {
    padding: 50px 0;
    margin-top: 150px;
    background-color: $background_color_green;
    &__wrapper {
        display: flex;
    }
    &__inner {
    }
    &__get__wrapper {
        width: 50%;
    }
    &__get__inner {
    }
    &__get {
        color: $color_text_white;
        font-size: 30px;
        @include text_montserrat;
        &__btn {
            margin: 30px 0;
            height: 50px;
            width: 150px;
        }
    }
    &__informed__wrapper {
        width: 50%;
    }
    &__white-section {
        padding: 20px;
        background-color: $background_color_white;
    }
    &__title {
        color: $color_text_gray_dark;
        font-size: 24px;
        @include text_montserrat;
    }
    &__subtitle__wrapper {
        margin: 0 0 10px;
    }
    &__subtitle {
        color: $color_text_gray_light;
        font-size: 14px;
        line-height: 30px;
        @include text_open-sans;
    }
    &__form__email__wrapper {
    }
    &__form__input {
        position: relative;
        height: 50px;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.1);
        &__email {
            position: relative;

            height: 100%;
            width: 100%;
            border: 0;
            padding: 0 20px;
            font-size: 14px;
            color: #9a9a9a;
            @include text_montserrat;
            &__text {
                position: absolute;
                display: flex;
                margin: -30px 20px;
                font-size: 12px;
                text-transform: uppercase;
                color: #cdcdcd;
                z-index: 1;
                @include text_montserrat;
            }
            &__text:active {
                display: none;
            }
        }
    }
}
@media (max-width:1199px ) {
    .newsletter {
        width: 100%;
        &__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    .newsletter__get__wrapper {
        width: 100%;
    }
    .newsletter__informed__wrapper {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .newsletter {
        width: 100%;
        &__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    .newsletter__get__wrapper {
        width: 100%;
    }
    .newsletter__informed__wrapper {
        width: 100%;
    }
}

@media (max-width: 449px) {
    .newsletter {
        width: 100%;
        &__wrapper { 
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    .newsletter__get__wrapper {
        width: 100%;
    }
    .newsletter__informed__wrapper {
        width: 100%;
    }
} 