<section class="our__work">
    <div class="container">
        <div class="our__work__wrapper">

            <div class="our__work__author__section col">
                <div class="our__work__author">
                    <img class="our__work__author__photo" src="./images/face.png" alt="testimonial image">
                </div>
                <p class="our__work__author__about">
                    Quisque iaculis lorem vestibulum eros vehicula, non congue elit dictum. Donec mollis aliquet
                    lorem, eu porttitor sapien semper in. Duis ac erat luctus, gravida lectus sit amet, consectetur
                    orci. Suspendisse libero mauris.
                </p>
                <div class="our__work__author__name">john doe</div>
            </div>

            <div class="our__work__logo__section col">
                <div class="our__work__logo__section__first">
                    <div class="our__work__logo__item__wrapper col">
                        <a class="our__work__logo__item" href="#">
                            <img class="our__work__logo__item__img" src="./images/Layer_14.png" alt="client logo">
                        </a>
                    </div>
                    <div class="our__work__logo__item__wrapper col">
                        <a class="our__work__logo__item" href="#">
                            <img class="our__work__logo__item__img" src="./images/Layer_15.png" alt="client logo">
                        </a>
                    </div>
                    <div class="our__work__logo__item__wrapper col">
                        <a class="our__work__logo__item" href="#">
                            <img class="our__work__logo__item__img" src="./images/Layer_16.png" alt="client logo">
                        </a>
                    </div>
                </div>
                <div class="our__work__logo__section__second">
                    <div class="our__work__logo__item__wrapper col">
                        <a class="our__work__logo__item" href="#">
                            <img class="our__work__logo__item__img" src="./images/Layer_17.png" alt="client logo">
                        </a>
                    </div>
                    <div class="our__work__logo__item__wrapper col">
                        <a class="our__work__logo__item" href="#">
                            <img class="our__work__logo__item__img" src="./images/Layer_18.png" alt="client logo">
                        </a>
                    </div>
                    <div class="our__work__logo__item__wrapper col">
                        <a class="our__work__logo__item" href="#">
                            <img class="our__work__logo__item__img" src="./images/Layer_19.png" alt="client logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>