@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.our__work {
    &__wrapper {
        width: 100%;
        display: flex;
    }
    &__author {
        &__section {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__photo {
            margin: 10px;
        }
        &__about {
            margin: 30px 0;
            color: $color_text_gray_light;
            line-height: 20px;
            text-align: center;
            @include text_open-sans;
        }
        &__name {
            padding: 7px;
            color: $color_text_white;
            background-color: $color_text_white_green;
            text-transform: uppercase;
            font-family:$main_font;
        }
    }
    &__logo {
        &__section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50%;
            &__first {
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            &__second {
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        &__item {
            &__wrapper {
                padding: 20px;
                display: flex;
                align-items: center;
            }
            &__img {
            }
        }
    }
}
@media (max-width: 991px) {
    .our__work{
        &__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &__logo {
            &__section {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &__first {
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
                &__second {
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction:   column;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            &__item {
                &__wrapper {
                    padding: 20px;
                    display: flex;
                    align-items: center;
                }
                &__img {
                }
            }
        }
        &__author {
            &__section {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
