<div class="services__main__list__wrapper">
   <ul class="services__main__list">
      <li class="services__main__list__item">branding</li>
      <li class="services__main__list__item">design &amp; copywriting</li>
      <li class="services__main__list__item">concept development</li>
      <li class="services__main__list__item">user experience</li>
   </ul>
</div>