@import "../../../../../../styles/variables.scss";
@import "../../../../../../styles/mixins.scss";

.services__main__list__wrapper {
}
.services__main__list {
    &__item {
        font-size: 14px;
        text-transform: uppercase;
        line-height: 30px;
        color: $color_text_gray_light;
        @include text_open-sans;
    }
}
