<section class="about__company">
    <div class="container">
        <div class="about__company__content__wrapper">
            <div class="  col">
                <div class="about__company__title__section">
                    <div class="about__company__title__wrapper">
                        <span class="about__company__title">about us</span>
                    </div>
                    <div class="about__company__subtitle__wrapper">
                        <p class="about__company__subtitle">we are awesome</p>
                    </div>
                </div>
                <div class="about__company__text__wrapper">
                    <p class="about__company__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class=" col">
                <div class="about__company__title__section">
                    <div class="about__company__title__wrapper">
                        <span class="about__company__title">what we do</span>
                    </div>
                    <div class="about__company__subtitle__wrapper">
                        <p class="about__company__subtitle">creative &amp; digital</p>
                    </div>
                </div>
                <div class="about__company__text__wrapper">
                    <p class="about__company__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
</section>