@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.about__company {
    &__content__wrapper {
        display: flex;
    }
    &__title__section {
        width: 100%;
    }

    &__title {
        @include mont_title_content;
        &__wrapper {
            margin-bottom: 30px;
        }
    }
    &__subtitle {
        color: $color_text_gray_dark;
        font-size: 14px;
        @include text_montserrat;
        &__wrapper {
            margin-bottom: 10px;
        }
    }
    &__text {
        font-size: 14px;
        color: $color_text_gray_light;
        line-height: 30px;
        @include text_open-sans;

        &__wrapper {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 991px) {
    .about__company {
        &__content__wrapper {
            display: flex;
            flex-direction: column;
        }
    }
}