<div class="hero__second">
    <div class="hero__second__title__wrapper">
        <div class="hero__second__title__inner">
            <div class="hero__second__title">Contact us</div>
        </div>
        <div class="hero__second__title__inner">
            <div class="hero__second__subtitle">home / contact</div>
        </div>
    </div>
</div>