@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins.scss";

.agency {
    position: relative;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;

    &__img__wrapper {
        width: 40%;
        margin: 10px;
    }


    &__content__wrapper {
        width: 50%; 
        margin: 10px;
    }
    &__content { 
        line-height: 30px;

        &__title {
    
            @include mont_title_content;
            &__wrapper {
                width: 100%;
                margin: 0 auto 30px;
                // background-color:$background_color_green ;
            }
        }
        &__paragraph__wrapper{

        }
        &__paragraph { 
            margin-bottom: 20px;
            color:$color_text_gray_dark ;
            font-size: 16px;
            @include text_open-sans;
 

        }
    }
}
@media (max-width: 991px) {
    .agency {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        &__img__wrapper {
            width: 100%; 
  
        }
        &__img {
            width: 100%;
        }
        &__content__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
        }
        &__btn__wrapper{
            display: flex;
            justify-content: center;
        }
    }
}
