<div class="container">
   <div class="agency">
      <div class="agency__img__wrapper">
         <img class="agency__img" src="./images/agency.png" alt="agency" />
      </div>
      <div class="agency__content__wrapper">
         <div class="agency__content">
            <div class="agency__content__title__wrapper">
               <span class="agency__content__title">history of agency</span>
            </div>
            <div class="agency__content__paragraph__wrapper">
               <p class="agency__content__paragraph">
                  Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                  numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad
                  minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                  commodi modi tempora incidunt ut labore.
               </p>
            </div>
            <div class="agency__btn__wrapper">
               <a href="#" class="btn green" style="float:right;margin-top:30px"><span>read more</span></a>
            </div>
         </div>
      </div>
   </div>
</div>