@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";
.contact__info {
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__content {
        width: 50%;
    }
    &__form {
        width: 100%;
        &__wrapper {
            width: 100%;
            display: flex;
        }
        &__first {
            display: flex;
        }
        &__name-email {
            width: 50%;
        }
        &__object {
            width: 100%;
        }
        &__massage {
            width: 100%;
        }
    }
    &__section {
    }
    &__title {
        font-size: 18px;
        margin:100px 0 10px;
        color: $color_text_gray_dark;
        @include text_montserrat;

        &__title__wrapper {
        }
    }
    &__subtitle {
        color: $color_text_gray_light;
        font-size: 14px;
        line-height: 30px;
        @include text_open-sans;
        &__subtitle__wrapper {
            margin-top: 15px;
        }
    }
    &__us {
        color: $color_text_gray_light;
        font-size: 14px;
        @include text_open-sans;

        &__wrapper {
            margin-top: 15px;
        }
    }
    &__form__btn {
        margin: 30px 0;
        height: 50px;
        width: 150px;
    }

    &__icons__wrapper {
    }

    &__map {
        &__wrapper {
            width: 50%;
        }
    }

    &__icons {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        float: left;
        &__item {
            margin: 0 10px;
            color: $color_text_gray_light;
        } 
    }
}
@media (max-width: 991px) {
    .contact__info__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .contact__info {
        &__content {
            width: 100%;
        }
        &__form {
            width: 100%;
            &__first {
                display: flex;
                flex-direction: column;
            }
            &__name-email{
                width: 100%;
            }
        }
        &__icons {
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
    }

    .contact__info__map {
        width: 100%;
        position: relative;
        overflow: hidden;
        &__wrapper {
            display: flex;
            margin-top: 20px;
            justify-content: center;
            width: 100%;
        }
    }
}
