<section class="contact__info">
    <div class="container">
        <div class="contact__info__wrapper">
            <div class="contact__info__content">
                <div class="contact__info__form__wrapper">
                    <form class="contact__info__form" action="#" method="post">
                        <div class="contact__info__form__first ">
                            <div class="contact__info__form__name-email col">
                                <div class="input__wrapper">
                                    <input class="input" type="text" name="name">
                                    <!-- <span>your name</span> -->
                                </div>
                            </div>
                            <div class="contact__info__form__name-email  col">
                                <div class="input__wrapper">
                                    <input class="input" type="text" name="email">
                                    <!-- <span>your email</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="contact__info__form__second">
                            <div class="contact__info__form__object col">
                                <div class="input__wrapper">
                                    <input class="input" type="text" name="object">
                                    <!-- <span>object</span> -->
                                </div>
                            </div>
                            <div class="contact__info__form__massage col">
                                <div class="textarea__wrapper">
                                    <textarea class="textarea" name="message"></textarea>
                                    <!-- <span>message</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="contact__info__form__btn col"> 
                            <a href="#" class="btn green"><span>send</span></a>
                        </div>
                    </form>
                </div>
                <div class="contact__info__section">
                    <div class="contact__info__title__wrapper">
                        <h4 class="contact__info__title col" style="">contact info</h4>
                    </div>
                    <div class="contact__info__subtitle__wrapper">
                        <p class="contact__info__subtitle col">Lorem ipsum dolor sit amet, conse adipisicing elit. Libero
                            incidunt quod ab mollitia quia dolorum
                            conse.</p>
                    </div>
                    <div class="contact__info__us__wrapper"><a class="contact__info__us col" href="https://www.google.com.ua/maps/@34.6817844,135.5147979,16.25z?hl=us">13D, Functional apartment, Unique colony,</a> </div>
                    <div class="contact__info__us__wrapper"><a class="contact__info__us col" href="https://goo.gl/maps/eYEMJM5TFQkbpz538">Agadir 86360</a></div>
                    <div class="contact__info__us__wrapper"><a class="contact__info__us col" href="#">+212 124-566-780 </a></div>
                    <div class="contact__info__us__wrapper"><a class="contact__info__us col" href="#">+212 124-566-780</a></div>
                    <div class="contact__info__us__wrapper"><a class="contact__info__us col" href="mailto:email@website.com" class="link">email@website.com</a></div>
                </div>
                <div class="contact__info__icons__wrapper ">
                    <ul class="contact__info__icons">
                        <li class="contact__info__icons__item"><a href="#"><i class="icon ion-social-facebook"></i></a>
                        </li>
                        <li class="contact__info__icons__item"><a href="#"><i class="icon ion-social-twitter"></i></a>
                        </li>
                        <li class="contact__info__icons__item"><a href="#"><i class="icon ion-social-youtube"></i></a>
                        </li>
                        <li class="contact__info__icons__item"><a href="#"><i class="icon ion-social-linkedin"></i></a>
                        </li>
                        <li class="contact__info__icons__item"><a href="#"><i class="icon ion-social-pinterest"></i></a>
                        </li>
                        <li class="contact__info__icons__item"><a href="#"><i class="icon ion-social-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="contact__info__map__wrapper col">
                <img src="./images/Layer_8_copy.png" alt="map" class="contact__info__map">
                <!-- <div id="map">

                    <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                    <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
                    var setting = {"height":844,"width":585,"zoom":11,"queryString":"Osaka, Осака, Япония","place_id":"ChIJ4eIGNFXmAGAR5y9q5G7BW8U","satellite":false,"centerCoord":[34.6776933106696,135.4860644],"cid":"0xc55bc16ee46a2fe7","lang":"ru","cityUrl":"/japan/osaka","cityAnchorText":"Карта [CITY1], Кансай, Япония","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"194494"};
                    var d = document;
                    var s = d.createElement('script');
                    s.src = 'https://embedgooglemap.1map.com/js/script-for-user.js?embed_id=194494';
                    s.async = true;
                    s.onload = function (e) {
                      window.OneMap.initMap(setting)
                    };
                    var to = d.getElementsByTagName('script')[0];
                    to.parentNode.insertBefore(s, to);
                  })();</script><a href="https://embedgooglemap.1map.com/ru">1 Map</a></div></div>
                </div> -->

            </div>
        </div>
</section>